# Environnement virtuel
.venv/
__pycache__/
*.py[cod]

# Variables d'environnement (Clés API !)
.env
backend/.env
# Données et Index (trop lourds pour Git)
backend/data/*.pdf
backend/data/*.faiss
backend/data/*.json
# Dossiers OS
.DS_Store
